<footer class="container-fluid bh-absolute-bottom">
    <div class="row">
        <div class="col"> &#169; Filmkameraad - StudioSkoop  <br>
        in samenwerking met Aline Adins en Arteveldehogeschool <br>
        academiejaar 2017 - 2018 <br>
       E-mailadres: <br>
       <a href="mailto:floris@studioskoop.be">floris@studioskoop.be</a>

    
     
    </div>
  
    </div>
    <div class="row">
        <div class="container">
        <div class="col-12 col-md-4 col-lg-5 logos">
    <img id="footerimg" src="./images/arteveldelogo.svg">
    <img id="footerimg" src="./images/filmkameraadlogo.svg">
    </div>
    </div>
    </div>
</footer>

<button onclick="topFunction()" id="to-top" ><i class="fas fa-angle-up"></i></button>